* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

#container {
  min-width: 20vh;
  min-height: 50vh;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgb(233, 105, 13);
  border: 2px solid black;
}

h2 {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
}

select {
  min-width: 25vw;
  min-height: 6vh;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

button {
  padding: 15px;
  border: 2px solid black;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: green;
}
